In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
import xgboost as xgb

###### Data Preprocessing

In [2]:
dataset = pd.read_csv('./combined_dataset/combined_datasets.csv', error_bad_lines=False)
dataset = dataset[dataset['zipcode'] > 0]
dataset = dataset[dataset['avg'] > 0]
dataset['zipcode'] = dataset['zipcode'].astype(int).astype(str)
dataset.head()

b'Skipping line 18654: expected 8 fields, saw 15\n'

,zipcode,subsystem,lat,long,sensor,parameter,datetime,avg
0,60601,chemsense,41.884607,-87.624577,no2,concentration,5/10/18 19:00,0.006243
1,60612,chemsense,41.871480,-87.676440,at0,temperature,5/1/18 12:00,27.369161
2,60610,chemsense,41.903632,-87.648093,so2,concentration,5/5/18 3:00,0.197254
3,60606,lightsense,41.883260,-87.633870,tmp421,temperature,5/4/18 2:00,39.129429
6,60639,chemsense,41.923996,-87.761072,at3,temperature,5/9/18 14:00,27.192733

In [3]:
dataset['datetime'] = pd.to_datetime(dataset['datetime'])
dataset= dataset[(dataset['datetime'] >= '2018-05-01') & (dataset['datetime'] <= '2018-06-30')]
dataset.head()

,zipcode,subsystem,lat,long,sensor,parameter,datetime,avg
0,60601,chemsense,41.884607,-87.624577,no2,concentration,2018-05-10 19:00:00,0.006243
1,60612,chemsense,41.871480,-87.676440,at0,temperature,2018-05-01 12:00:00,27.369161
2,60610,chemsense,41.903632,-87.648093,so2,concentration,2018-05-05 03:00:00,0.197254
3,60606,lightsense,41.883260,-87.633870,tmp421,temperature,2018-05-04 02:00:00,39.129429
6,60639,chemsense,41.923996,-87.761072,at3,temperature,2018-05-09 14:00:00,27.192733

In [8]:
# encode categorical features
dataset_enc = pd.get_dummies(dataset, drop_first = True)

,lat,long,datetime,avg,zipcode_60601,zipcode_60602,zipcode_60603,zipcode_60604,zipcode_60605,zipcode_60606,...,parameter_pm1_cf1,parameter_pm25_atm,parameter_pm25_cf1,parameter_pm2_5,parameter_point_3um_particle,parameter_point_5um_particle,parameter_pressure,parameter_sample_flow_rate,parameter_sampling_period,parameter_temperature
0,41.884607,-87.624577,2018-05-10 19:00:00,0.006243,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,41.871480,-87.676440,2018-05-01 12:00:00,27.369161,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,41.903632,-87.648093,2018-05-05 03:00:00,0.197254,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,41.883260,-87.633870,2018-05-04 02:00:00,39.129429,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
6,41.923996,-87.761072,2018-05-09 14:00:00,27.192733,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
8,41.903632,-87.648093,2018-05-09 17:00:00,36.878819,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,41.884490,-87.636955,2018-05-09 01:00:00,1492.921429,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
10,41.751142,-87.712990,2018-05-08 18:00:00,3.100476,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
12,41.943263,-87.688069,2018-05-07 09:00:00,63.459286,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,41.916586,-87.666406,2018-05-03 12:00:00,685.082701,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,41.823527,-87.641054,2018-05-05 12:00:00,48.183521,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,41.939121,-87.723801,2018-05-01 21:00:00,26.434722,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
17,41.794477,-87.615957,2018-05-03 06:00:00,77.937832,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,41.884688,-87.627864,2018-05-09 19:00:00,27.565105,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19,41.794477,-87.615957,2018-05-03 19:00:00,946.913125,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
20,41.792543,-87.600008,2018-05-04 08:00:00,1.548600,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,41.924903,-87.687703,2018-05-04 15:00:00,36.323902,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,41.884490,-87.636955,2018-05-08 15:00:00,2418.685714,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
23,41.779369,-87.664421,2018-05-06 21:00:00,1003.291800,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
24,41.831827,-87.675311,2018-05-06 15:00:00,41.084564,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,41.788430,-87.599130,2018-05-07 15:00:00,27.841888,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
27,41.846579,-87.685557,2018-05-05 03:00:00,3.087267,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
28,41.884688,-87.627864,2018-05-09 14:00:00,986.369021,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
29,41.857775,-87.666144,2018-05-01 04:00:00,57.866267,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,41.808594,-87.665048,2018-05-01 11:00:00,45.565524,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
31,41.718008,-87.982901,2018-05-09 07:00:00,20.174867,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
32,41.718008,-87.982901,2018-05-07 19:00:00,22.372533,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
33,41.718008,-87.982901,2018-05-11 02:00:00,13.336400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
34,41.718008,-87.982901,2018-05-29 01:00:00,24.570405,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
35,41.718008,-87.982901,2018-05-01 01:00:00,995.642600,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6247047,41.948848,-87.774073,2018-06-26 12:00:00,40.000000,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
6247048,41.873212,-87.753699,2018-06-16 14:00:00,45.320000,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
6247052,41.948155,-87.774057,2018-06-26 12:00:00,50.000000,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
6247055,41.953228,-87.774372,2018-06-26 12:00:00,43.800000,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
6247061,41.873140,-87.753654,2018-06-16 14:00:00,44.303333,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
6247062,41.953208,-87.774865,2018-06-26 12:00:00,42.800000,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
6247064,41.949937,-87.774125,2018-06-26 12:00:00,40.800000,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
6247083,41.953173,-87.777068,2018-06-26 12:00:00,43.800000,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
6247090,41.950898,-87.774158,2018-06-26 12:00:00,36.000000,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
6247092,41.951127,-87.774210,2018-06-26 12:00:00,42.800000,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
6247097,41.873122,-87.753654,2018-06-16 14:00:00,44.020000,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
6247101,41.952967,-87.774762,2018-06-26 12:00:00,47.583750,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
6247104,41.952890,-87.774410,2018-06-26 12:00:00,53.023333,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
6247108,41.953000,-87.775060,2018-06-26 12:00:00,54.556667,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
6247109,41.953028,-87.774888,2018-06-26 12:00:00,43.600000,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
6247130,41.953098,-87.777653,2018-06-26 12:00:00,55.336667,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
6247134,41.873206,-87.753701,2018-06-16 14:00:00,46.333333,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
6247148,41.873206,-87.753702,2018-06-16 14:00:00,44.730000,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
6247184,41.873317,-87.754699,2018-06-16 14:00:00,53.573333,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
6247215,41.876466,-87.754805,2018-06-16 14:00:00,56.183333,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
6247217,41.876560,-87.754768,2018-06-16 14:00:00,55.740000,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
6247222,41.876719,-87.754810,2018-06-16 14:00:00,52.716667,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
6247227,41.877095,-87.754792,2018-06-16 14:00:00,52.526667,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
6247232,41.877094,-87.754790,2018-06-16 14:00:00,52.940000,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
6247246,41.877967,-87.754913,2018-06-16 14:00:00,52.316667,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
6247279,41.878350,-87.755140,2018-06-16 14:00:00,46.576667,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
6247282,41.877303,-87.755051,2018-06-16 14:00:00,51.020000,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
6247316,41.875468,-87.754993,2018-06-16 15:00:00,51.506667,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
6247321,41.874876,-87.754998,2018-06-16 15:00:00,52.473333,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
6247328,41.874455,-87.754930,2018-06-16 15:00:00,51.623333,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [ ]:
# create training and test sets