In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
import xgboost as xgb

###### Data Preprocessing

In [42]:
dataset = pd.read_csv('./combined_dataset/combined_datasets.csv', error_bad_lines=False)
dataset = dataset[dataset['zipcode'] > 0]
dataset['zipcode'] = dataset['zipcode'].astype(int).astype(str)
dataset.head()

b'Skipping line 18654: expected 8 fields, saw 15\n'

,zipcode,subsystem,lat,long,sensor,parameter,datetime,avg
0,60601,chemsense,41.884607,-87.624577,no2,concentration,5/10/18 19:00,0.006243
1,60612,chemsense,41.871480,-87.676440,at0,temperature,5/1/18 12:00,27.369161
2,60610,chemsense,41.903632,-87.648093,so2,concentration,5/5/18 3:00,0.197254
3,60606,lightsense,41.883260,-87.633870,tmp421,temperature,5/4/18 2:00,39.129429
4,60625,metsense,41.968757,-87.679174,mma8452q,acceleration_x,5/1/18 3:00,-5.648554

In [50]:
dataset['datetime'] = pd.to_datetime(dataset['datetime'])
dataset= dataset[(dataset['datetime'] >= '2018-05-01') & (dataset['datetime'] <= '2018-06-30')]
dataset.head()

,zipcode,subsystem,lat,long,sensor,parameter,datetime,avg
0,60601,chemsense,41.884607,-87.624577,no2,concentration,2018-05-10 19:00:00,0.006243
1,60612,chemsense,41.871480,-87.676440,at0,temperature,2018-05-01 12:00:00,27.369161
2,60610,chemsense,41.903632,-87.648093,so2,concentration,2018-05-05 03:00:00,0.197254
3,60606,lightsense,41.883260,-87.633870,tmp421,temperature,2018-05-04 02:00:00,39.129429
4,60625,metsense,41.968757,-87.679174,mma8452q,acceleration_x,2018-05-01 03:00:00,-5.648554